arrow
beautifulsoup4
Flask
Flask-Admin
Flask-Login
Flask-WTF
Jinja2
lxml
mailer
pandas
psycopg2-binary
pytest
python-dateutil
pytz
requests
requests-toolbelt
SQLAlchemy
SQLAlchemy-Utils
WTForms
testing.postgresql
