@charset "utf-8";
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
/***** Loader *****/
#screen {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #FFFFFF;
}
#loading {
	background: url(/static/img/loader.gif) no-repeat center center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
}
/***** Navigation bar (universal) *****/
.navbar {
	-webkit-box-shadow: 0px 5px 5px -5px rgba(75,75,100,1);
	-moz-box-shadow: 0px 5px 5px -5px rgba(75,75,100,1);
	box-shadow: 0px 5px 5px -5px rgba(75,75,100,1);
	overflow-y: hidden;
}
.nav-item {
	font-size: 1.25vw;
	text-transform: uppercase;
	text-align: center;
	padding-right: 2.5vw;
}
/***** Footer (universal) *****/
.card-footer {
	text-align: center;
	background-color: #0069a3;
	color: #FFFFFF;
}
/***** Header (home) *****/
#home-header {
	background-image: url(/static/img/blue.png);
}
#home-header-text {
	color: #FFFFFF;
	font-family: Cambria, "serif";
	margin-right: 25vw;
}
#home-header-main {
	font-size: 4.5vw;
	font-weight: bold;
}
#home-header-sub {
	font-size: 2.5vw;
}
#home-header-tagline {
	font-size: 3vw;
	font-weight: bold;
}
#button-text {
	font-size: 2vw;
}
.jumbotron-fluid {
	height: 100%;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#divider-text {
	color: #0069a3;
	font-size: 2vw;
	top: 0;
	width: 100%;
}
/***** Main (home) *****/
#main-container {
	align-content: center;
	box-sizing: border-box;
}
#home-text-1 {
	font-size: 3vw;
}
.lead {
	font-family: Cambria, "serif";
	font-size: 1.75vw;
}
.jumbotron {
	margin: 2.5vw;
}
#video {
	max-width: 75vw;
}
#divider img {
	width: 100%;
}
#patient-container, #provider-container {
	padding: 5vw;
}
#patient, #provider {
	max-width: 15vw;
	max-height: 15vw;
}
#patients-img-link, #providers-img-link {
	font-size: 2vw;
	font-family: Cambria, "serif";
	font-weight: bold;
	color: #0069a3;
}
#patients-img-link:hover, #providers-img-link:hover {
	color: #f88428;
	text-decoration-line: none;
}
/***** Formulary Insight Tool *****/
#fit {
	font-family: Cambria, "serif";
}
.btn-primary {
	background-color: #0069a3;
	border-color: #0069a3;
}
.med-button {
	font-size: 25px;
	font-variant-caps: petite-caps;
}
.table-responsive {
	display: table;
}
.table {
	text-align: center;
}
#table-header {
	font-variant-caps: petite-caps;
	color: #0069a3;
}
