{% extends 'base.html' %}

{% block js %}
<script src="{{ url_for('static', filename = 'js/meds.js')}}" type="text/javascript"></script>
{% endblock %}

{% block body_block %}
<!-- Main -->
<div class="container text-center my-5 px-5">
  <h1 class="display-4 mb-3" id="fit">Formulary Insight Tool</h1>
  <p class="px-5">Instantly gain insight on your patients' medications and save more time with our Formulary Insight Tool.</p>
</div>
<!-- Select health coverage -->
<h5 class="text-center">Select a health plan type:</h5>
<!-- Form -->
<main class="container">
  <div class="form-row px-3">
    <form action="{{url_for('fit')}}" method='post' class="input-group" id="form-plan">

      {% if form.errors %}
      <div class="row">
        <div class="col-sm-12 wrong-detail">
           <p class="error-msg text-danger" style="margin:0px">
             {% for err in form.errors.values() %}
             {{err}}
             {% endfor %}
           </p>
        </div>
        <div class="col-sm-6"></div>
      </div>
      {% endif %}


      <div class="radio" style="clear: both;width: 100%;text-align: center;">
        {% for field in form.plan_type %}
          {% if loop.index == 1 %}
                {{field()}}<span class="h-1" style="font-size: 19px;margin-left: 10px">Medicare</span>
          {% elif loop.index == 2 %}
                {{field(style="margin-left: 10px")}}<span class="h-1" style="font-size: 19px;margin-left: 10px">Medicaid</span>
          {% else %}
                {{field(style="margin-left: 10px")}}<span class="h-1" style="font-size: 19px;margin-left: 10px">Commercial</span>
          {% endif %}
        {% endfor %}
      </div>

      <label for="input-zipcode" class="mr-1"><span class="input-group-text">Zipcode</span></label>
      {{form.zipcode(class="form-control mb-3", placeholder="ex. 12345", id="input-zipcode")}}

      <div class="container text-center m-2" id="container-selected-zipcode">
        <h5 id="selected-zipcode"></h5>
      </div>
    
      <!-- Plan input -->
      <label class="mr-1"><span class="input-group-text">Plan Name</span></label>
      {{form.plan(class="form-control", style="height: 38px;", placeholder="Type to search...", id="input-plan-medicare")}}

      <div class="container text-center m-2">
        <h5 id="selected-plan"></h5>
      </div>

      <label class="mr-1"><span class="input-group-text">Medication</span></label>
      {{form.medication(class="form-control", style="height: 38px;", placeholder="Type to search...", id="input-med")}}
      <div class="container text-center m-2">
        <h5 id="selected-med"></h5>
      </div>
    </div>
  
    <!-- Form final buttons -->
    <div class="row justify-content-center mb-5">
      <button type="submit" class="btn btn-primary font-weight-bold m-2" id="button-generate">View Formulary Coverage</button>
      <button type="button" class="btn btn-primary m-2" id="button-clear-med">Clear Medication</button>
      <button href="{{url_for('fit')}}" type="reset" class="btn btn-primary m-2" id="button-clear-all">Clear All</button>
    </div>
  </form>
</main>
<!-- /.container -->
{% endblock %}