<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>RXMedAccess, LLC</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="{{ url_for('static',filename='css/stylesheet.css') }}" rel="stylesheet">
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light"> <a class="navbar-brand" href="/"><img src="{{url_for('static',filename='img/logo transparent(1000x682).png') }}" width="90vw" alt="RXMedAccess, LLC"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="/patients">Patients</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/providers">Providers</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/about">About Us</a> </li>
    </ul>
  </div>
</nav>
<!-- Header -->
<div class="jumbotron-fluid p-5" id="home-header">
  <div id="home-header-text">
    <h1 id="home-header-main">Spend <font color="#f88428">less</font> time filling paperwork, and <font color="#f88428">more</font> time seeing patients.</h1>
    <hr class="my-3">
    <h2 id="home-header-sub">Physicians spend hours weekly just filling prior authorization requests.</h2>
    <a href="https://youtu.be/WlitmHHpXhw" class="btn btn-info my-2 mx-2" role="button"><span id="button-text">Learn More</span></a>
    <h2 id="home-header-tagline">We can help ease the burden.</h2>
  </div>
</div>
<!-- Main body -->
<main class="container-fluid" role="main">
  <div class="row p-5">
    <div class="col-md-8" id="home-main-text">
      <h2 id="home-text-1">Why choose RxMedAccess?</h2>
      <hr class="my-3">
      <div class="lead" id="home-text-2">
        <p>RxMedAccess is a <b>user-friendly</b> healthcare application where providers can gain easy access to their patient populations preferred drug lists at the point of prescribing and provide
          formulary insight solutions to optimize patient access.</p>
        <p>View our video demo below for a sneak peek into our <b>Formulary Insight Tool</b>!</p>
      </div>
    </div>
    <div class="col-md-4 container d-none d-md-block" id="home-main-logo"><img src="{{url_for('static',filename='img/logo transparent(1000x682).png')}}" class="img img-fluid" alt="Logo"></div>
  </div>
  <center class="jumbotron">
    <div class="embed-responsive embed-responsive-16by9" id="video">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ZYc8UWWOUI?rel=0&modestbranding=1&autohide=1&showinfo=0" allowfullscreen></iframe>
    </div>
  </center>
  <div class="position-relative" id="divider"> <img src="{{url_for('static',filename='img/divider (1346x10).png')}}" class="img" alt="Divider">
    <div>
      <h3 class="position-absolute mb-5" align="center" id="divider-text">Find the right tools for you.</h3>
    </div>
  </div>
  <div class="row px-5 justify-content-center">
    <div class="container col-6" id="patient-container">
      <div class="row justify-content-center"><img src="{{url_for('static',filename='img/patient (150x150).png')}}" alt="Patients" class="img" id="patient" href="/patients">&nbsp;</div>
      <div class="row justify-content-center"> <a href="/patients" id="patients-img-link">Patients</a> </div>
    </div>
    <div class="container col-6" id="provider-container">
      <div class="row justify-content-center"><img src="{{url_for('static',filename='img/physician (150x150).png')}}" alt="Providers" class="img" id="provider" href="/providers">&nbsp;</div>
      <div class="row justify-content-center"> <a href="{{url_for('fit')}}"id="providers-img-link">Providers</a> </div>
    </div>
  </div>
</main>
<!-- Footer -->
<div class="card-footer">© 2017 - 2019 RxMedAccess, LLC</div>
<!-- /.container --> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
