{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block body_block %}
<!--Banner START-->
<div class="jumbotron jumbotron-fluid fade-in-slow" style="background-image:url(static/img/bg.jpg)" id="home-banner">
  <div class="col-md-7 bg-white shadow p-3">
    <div class="display-4 px-5 py-3">Spend <b class="text-orange">less</b> time filling paperwork, and <b class="text-orange">more</b> time seeing patients.</div>
    <div class="h4 px-5 py-3">Physicians spend hours weekly just filling prior authorization requests. With our Formulary Insight Tool, we can help ease the burden. <a class="text-blue" href="#">Try it today.</a></div>
  </div>
</div>
<!--Banner END-->






<!-- Main container START -->
<main class="container-fluid">

  <!--Content START-->
  <!--Services START-->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-row">
          <button class="btn btn-blue btn-deco shadow mt-2" disabled><i class="fas fa-prescription-bottle-alt text-white h1"></i></button>
          <span class="display-4 subheader ml-4">Intelligent formulary insight</span></div>
        <div class="my-4">
          <p>Our Formulary Insight Tool healthcare application allows providers to gain easy access to their patient populations preferred drug lists and provide formulary insight, optimizing patient access.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row">
          <button class="btn btn-blue btn-deco shadow mt-2" disabled><i class="fas fa-user-md text-white h1"></i></button>
          <span class="display-4 subheader ml-4">Tailored for healthcare providers</span></div>
        <div class="my-4">
          <p>Healthcare providers can register now to access our system. If you’ve already registered, log in for full access.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Services END-->

  <hr>

  <!--Welcome START-->
  <div class="container m-5">
    <span class="display-4">How Our Formulary Insight Tool Can Help</span>
    <div class="col-xs-6 card shadow p-2 m-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WqM5pwOMZa8?rel=0&modestbranding=1&autohide=1&showinfo=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- Welcome END -->

  <!-- Content END -->

</main>
<!-- Main container END -->
{% endblock %}