{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block body_block %}
<!--Banner START-->
<div class="jumbotron jumbotron-fluid" id="home-banner">
  <div class="col-md-7">
    <div class="display-4 px-5 py-3">Spend less time filling paperwork, and more time seeing patients.</div>
    <div class="h4 px-5 py-3">Physicians spend hours weekly just filling prior authorization requests. With our Formulary Insight Tool, we can help ease the burden. <a href="#">Try it today.</a></div>
  </div>
</div>
<!--Banner END-->

<!-- Main container START -->
<main class="container-fluid">

  <!--Content START-->
  <!--Services START-->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-row">
          <button class="btn btn-blue btn-deco" disabled><i class="fas fa-prescription-bottle-alt text-white h1"></i></button>
          <span class="display-4 subheader ml-3">Intelligent formulary insight</span></div>
        <div class="d-flex flex-column">
          <p>Our Formulary Insight Tool healthcare application allows providers to gain easy access to their patient populations preferred drug lists and provide formulary insight, optimizing patient access.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row">
          <button class="btn btn-blue btn-deco" disabled><i class="fas fa-user-md text-white h1"></i></button>
          <span class="display-4 subheader ml-3">Tailored for healthcare providers</span></div>
        <div class="d-flex flex-column">
          <p>Healthcare providers can register now to access our system. If you’ve already registered, login for full access.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Services END-->

  <!--Welcome START-->
  <div class="container">
    <div class="col-md-12">
      <h2>How Our Formulary Insight Tool Can Help</h2>
    </div>
    <div class="col-md-6">
      <p>RxMedAccess is a user-friendly healthcare application where providers can gain easy access to their patient populations preferred drug lists at the point of prescribing and provide formulary insight solutions to optimize patient access. View our video demo for a sneak peek into our Formulary Insight Tool!</p>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.youtube.com/embed/WqM5pwOMZa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <!-- Welcome END -->
  <!-- Content END -->

</main>
<!-- Main container END -->
{% endblock %}