<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Results</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body class="m-5">
<div class="container p-5">
  <div class="mb-2"><a href="#" class="btn btn-primary"><span>Go back</span></a></div>
  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title">Your results have been generated below.</h2>
    </div>
    <div class="row justify-content-center p-3" id="card-attention">
      <div class="card bg-light m-1">
        <div class="card-header">Attention!</div>
        <div class="card-body">
          <h5 class="card-title">The medication you selected is not covered by your patient's plan.</h5>
          <p class="card-text">Please view the list of therapeutic alternatives below to ensure your patient's medication access at the pharmacy.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center p-3">
      <div class="card text-white bg-danger col-md-5 m-1">
        <div class="card-body">
          <h5 class="card-title">Color code: Red</h5>
          <p class="card-text">Your selected medication is not covered by the drug plan and/or requires a prior authorization.</p>
        </div>
      </div>
      <div class="card text-white bg-success col-md-5 m-1">
        <div class="card-body">
          <h5 class="card-title">Color code: Green</h5>
          <p class="card-text">Your selected medication is covered by the drug plan.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table -->
<div class="row justify-content-center m-3">
  <h1 id="table-header">Medication Name</h1>
</div>
<div class="table-responsive">
  <table class="table table-bordered" id="table-medicaid">
    <thead>
      <tr>
        <th scope="col">Drug Name</th>
        <th scope="col">Drug Tier</th>
        <th scope="col">Formulary Restriction</th>
      </tr>
    </thead>
    <tbody>
    {% for result in results %}
    {"formulary_id":18183,"plan_name":"CareSource Advantage (HMO)","zipcode":"43081"}

    <tr>
        <td class="table-success">Placeholder</td>
        <td class="table-success">Placeholder</td>
        <td class="table-success">Placeholder</td>
    </tr>
    {% endfor %}
    <!--
      <tr>
        <td class="table-success">Placeholder</td>
        <td class="table-success">Placeholder</td>
        <td class="table-success">Placeholder</td>
      </tr>
      <tr>
        <td class="table-danger">Placeholder</td>
        <td class="table-danger">Placeholder</td>
        <td class="table-danger">Placeholder</td>
      </tr>
    -->
    </tbody>
  </table>
</div>
<!-- Scripts --> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
