<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>Login</title>
<link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='img/favicon (32x32).png')}}"/>

<!-- CDN CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-1.5.0/datatables.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Custom styles -->
<link href="stylesheet.css" rel="stylesheet">
<!--<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">-->
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light"> <a class="navbar-brand" href="/"><img src="{{url_for('static',filename='img/logo transparent(1000x682).png')}}" width="90vw" alt="RxMedAccess, LLC"></a> 
  <!--<nav class="navbar navbar-expand-md navbar-light bg-light"> <a class="navbar-brand" href="/"><img src="logo transparent(1000x682).png" width="90vw" alt="RxMedAccess, LLC"></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="/fit">Patients</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/fit">Providers</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/about">Log in</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/about">Sign up</a> </li>
    </ul>
  </div>
</nav>

<!--- BG IMAGE --->
<div class="jumbotron-fluid"> <img class="position-absolute h-50 w-100" src="login & signup/main (1346x445).png" alt="Background image"> </div>
	
<!--- MAIN --->
<main class="container w-75 my-5">
  <div class="card p-2">
    <div class="card-header"><span class="float-right h-1 mx-1">Already have an account? <a href="#">Sign in.</a></span> </div>
    <div class="card-body"> <span>Thanks for choosing RxMedAccess! Please fill out all of the fields below to continue.</span>
      <form class="input-group w-100 my-3" action="{{url_for('user.signup')}}" method="post">
        <input class="form-control" type="text" placeholder="First name" id="input-fname">
        <input class="form-control" type="text" placeholder="Last name" id="input-lname">

        <select class="form-control" type="text">
          <option selected disabled>What type of healthcare provider are you?</option>
          <option>MD</option>
          <option>PA</option>
          <option>DO</option>
          <option>NP</option>
          <option>RN</option>
          <option>Rph or PharmD</option>
          <option>MA</option>
        </select>
        <input class="form-control" type="text" placeholder="What is the name of your practice site?">

        <select class="form-control" type="text">
          <option selected disabled>What type of practice site is your facility?</option>
          <option>Primary Care Clinic</option>
          <option>Physician Private Practice</option>
          <option>Urgent Care</option>
          <option>Speciality Clinic</option>
          <option>Independent Pharmacy</option>
          <option>Internal Medicine Clinic</option>
          <option>Outpatient Clinic</option>
        </select>
        <span class="text-muted">Your email and password will be your login information.</span>
        <div class="input-group-prepend"> <span class="input-group-text prepend-icon"> <i class="fas fa-user text-white"></i> </span> </div>
        <input class="form-control" type="text" placeholder="Email address" id="input-email">
        <div class="input-group-prepend"> <span class="input-group-text prepend-icon"> <i class="fas fa-key text-white"></i> </span> </div>
        <input class="form-control" type="password" placeholder="Password" id="input-pass">
        <input class="form-control" type="password" placeholder="Re-enter password" id="input-reenter-pass">
        <span class="text-muted text-center">We'll never share your personal information with anyone outside of your company. For more information, please read the <a href="#legal">terms and conditions of use</a>.</span>
        <div class="form-check">
          <input type="checkbox" class="form-check-input text-center" id="terms">
          <label class="form-check-label" for="terms">I have read and understood the terms and conditions of use above.</label>
        </div>
        <button class="btn btn-primary text-uppercase w-100 mt-3" type="submit" id="button-login">Create an account</button>
      </form>
    </div>
  </div>
</main>

<!-- Scripts --> 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
