{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_simple %}
{% block body_block %}
<div class="login-div">

  <div class="container">
    <div class="row">
      <div class="col-sm-12"  >
        <span style="font-weight: 100;font-size: 60px;">Welcome back</span>
      </div>
    </div>
      {% if form.errors %}
      <div class="row">
        <div class="col-sm-6 wrong-detail">
           <p class="error-msg text-danger" style="margin:0px">form.error</p>
        </div>
        <div class="col-sm-6"></div>
      </div>
      {% endif %}

      <!--Form Start here--->
      <form action="{{url_for('user.signin')}}" method="post">
         <div class="form-control input-group-prepend" style="margin-bottom: 20px;padding: 0px; border: 0px">
             <span class="input-group-text prepend-icon">
                 <i class="fas fa-user text-white"></i>
             </span>
             <!--
             <input class="form-control" type="email" placeholder="Email address" id="input-email" required>
             -->
             {{form.email(class="form-control", type="email", placeholder="Email address", id="input-email") }}
         </div>

        <div class="form-group" >
            <div class="form-control input-group-prepend" style="margin-bottom: 20px; padding: 0px; border: 0px">
                <span class="input-group-text prepend-icon">
                    <i class="fas fa-key text-white"></i>
                </span>
                <!--
                <input class="form-control" type="password" placeholder="Password" id="input-pass" required>
                -->
                {{form.password(class="form-control",type="password",placeholder="Password",id="input-pass")}}
            </div>
        </div>
        <button  class="btn btn-primary text-uppercase w-100" type="submit" id="button-login">Sign in</button>
      </form>

      <div class="row">
        <div class="col-sm-12">
           <span style="font-size: 19px"><a href="{{url_for('user.signup')}}">Sign up</a></span>
         <span><a class="float-right" href="{{url_for('user.forgot')}}">Forgot your password?</a></span>
        </div>
      </div>
  </div>
</div>
{% endblock %}